<footer class="footer text-xs-center">
	<p class="text-muted">
		<small>&copy; 2018 by Xantrix Inc.</small>
	</p>
	<p class="text-muted">
		<a href="#"><small>Termini &amp; Condizioni</small> </a>
	</p>
	<p class="text-muted">
		<a href="#"><small>Chi Siamo</small></a>
	</p>
	<p class="text-muted">
		<a href="#"><small>I nostri Negozi</small></a>
	</p>
	 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	 <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
	 <script type="text/javascript" src="/static/js/bootstrap.min.js" ></script>
	  <script type="text/javascript" src="/static/js/main.js" ></script>
</footer>